.title
  .icon
  = 'Cleartest.ru'
  .undertitle
    = 'Как понять результаты анализов'
#menu
  %ul
    %li
      = active_link_to 'Анализы крови', root_path
    %li
      = active_link_to 'Анализ мочи'       
    %li  
      = active_link_to 'О сайте', about_path
